@{
    ViewData["Title"] = "Google";
}

<!--　③ ページデザインを作る　-->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>さぁ、 <a href="https://www.google.co/">Google</a>にアクセスしよう</p>
</div>
